/*	CSS for D-PORTAL 2014 ^o^
	If you're reading this in github,
	please change to Tabs-4 as github is broken.
	============================================= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

/* Resets */

body, html {
    background: none;
    color: #444;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizelegibility;
    word-wrap: break-word;
}

html {
    background-color: #000;
}

/*	Links & fonts
	============================================= */
a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

a, img {
    border: 0;
    outline: none;
}

a:focus {
    text-decoration: underline;
}

a:link {
    color: #0067B1;
    text-decoration: none;
}

a:visited {
    color: #0067B1;
    text-decoration: none;
}

a:hover {
    color: #004373;
    text-decoration: none;
}

a:active {
    color: #004373;
    text-decoration: none;
}

em, i, .italic {
    font-style: italic;
    color: inherit;
}

strong, b, .bold {
    font-weight: bold;
    color: inherit;
}

.underline {
    text-decoration: underline;
    color: inherit;
}

.bold.ob {
    font-style: italic;
}

:focus {
    outline: 2px solid #53B4ED;
    outline: -webkit-focus-ring-color auto 5px;
}

:-moz-focusring {
    outline: 2px solid #53B4ED;
}

/*	Main wrappers for content & fixed background img
	============================================= */
.portal {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    width: 100%;
    height: 100%;
}

.main_wrap {
    width: 100%;
    min-width: 1040px;
    padding: 0px;
    display: table-cell;
    background-color: rgba(255, 255, 255, 0.4);
}

#background_image {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('/art/mexico_background_image.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    background: #fff;
}

/* Overlay colour for background image */
.default {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

/*.default.index {*/
    /*padding-bottom: 40px;*/
/*}*/

.third {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    padding-right: 30px;
}

.third:last-of-type {
    padding: 0;
}

.tongue_wrap {
    float: left;
}

/*	Buttons and header styles
	============================================= */
.path_txt {
    display: block;
    color: #fff;
    font-size: 1.1em;
    padding-top: 20px;
}

/*	Country Code List style
	============================================= */
.country_menu_wrap {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.country_menu_list_wrap {
    margin: 0 auto;
    width: 960px;
}

.flex-viewport .country_menu_list li {
    border: none;
    text-align: center;
    height: 215px;
    position: relative;
}

.country_menu_list li {
    border-bottom: 1px solid rgba(0, 64, 110, 0.1);
}

#country_menu_list a.country_code,
#sector_list a.country_code {
    text-align: left;
}

#country_menu_list a.country_code:hover,
#sector_list a.country_code:hover {
    background: rgb(230, 240, 247);
}

.noCursor {
    cursor: default;
}

.country_menu_list li:last-child {
    border-bottom: none;
}

.publisher_menu_list_wrap {
    margin: 0 auto;
    width: 860px;
}

.menu_list_wrap {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    height: 700px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 47%;
}

#sector_list span.select_wrap {
    width: 100%;
}

#sector_list .publishercol a.country_code {
    width: 100%;
}

.menu_list_wrap.left {
    padding-left: 0;
    padding-right: 25px;
    border-right: 1px solid rgba(151, 151, 151, 0.2);
}

ul.country_menu_list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 180px !important;
}

.bx-wrapper .bx-next {
    right: -21px;
    background: url(/art/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev {
    left: -21px;
    background: url(/art/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: rgba(0, 103, 177, 0.19);
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #0067B1;
}

.slider-wrap a.country_code {
    line-height: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
}

.bx-wrapper img {
    display: inline-block;
}

.bx-wrapper .fade-out{
    display: block;
    opacity: 0.3;
    cursor: default;
}

.bx-wrapper .bx-viewport {
    height: 180px !important;
}

.bx-wrapper .bx-next:hover{
    background-position: -43px -32px;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 -32px;
}



/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    top: -25px;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.slider-wrap .country_menu_list li {
    border: none;
    margin-right: 0 !important;
    text-align: center;
    width: 192px !important;
    top: 45px;
    min-height: 90px;
    display: none;
}

.slider-wrap span.publisher-logo {
    display: block;
}

ul.country_menu_list li.no {
    display: none;
}

ul.country_menu_list li:last-of-type {
    border: 0;
}

ul.country_menu_list li.top {
    border: 0;
    margin-bottom: 10px;
}

span.select_wrap {
    display: inline-block;
    vertical-align: top;
    width: 50px;
}

span.select_wrap.countryid {
    color: #666;
}

span.select_wrap.publisherid {
    display: block;
    padding: 5px 0 0 10px;
    color: #C5BAA4;
    text-align: left;
    width: 100%;
    font-size: 0.8em;
    font-weight: bold;
}

span.select_wrap.publisherid::before {
    content: 'Publisher ID: ';
    font-weight: normal;
}

span.select_wrap.countryname {
    width: 310px;
    padding: 0 10px;
    text-align: left;
    white-space: normal;
}

span.select_wrap.full {
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 1.6em;
}

.publisher_list {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.15em;
    display: block;
    padding: 20px 0;
    font-weight: bold;
}

a.country_code {
    color: #666;
    font-size: 19px;
    line-height: 27px;
    display: inline-block;
    padding: 20px 0;
    vertical-align: top;
    text-align: center;
}

a.country_code .select_wrap img {
    /*height: 20px;*/
    max-width: 35px;
    /*width: 30px;*/
}

/*	Select dropdowns
	============================================= */
#country_dropmenu, #sector_dropmenu, #publisher_dropmenu,
.compare_wrap {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-bottom: 20px;
    margin-right: 10px;
}

#sector_dropmenu, .compare_wrap.r {
    margin-right: 0;
}

.compare_wrap {
    margin-top: 40px;
}

#country_dropmenu select, #publisher_dropmenu select,  #sector_dropmenu select {
    min-width: 460px;
    max-width: 460px;
    width: 460px;
}
.chosen-container {
    width: 304px !important;
}

.chosen-container-single .chosen-single span {
    color: #444;
}

.chosen-container .chosen-results li {
    text-align: left;
}

/*	Text and Description styles
	============================================= */
.description_wrap {
    display: none;
    width: 880px;
    margin: 0 auto;
    padding: 40px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.1);
}

.description {
    display: inline-block;
    vertical-align: top;
    width: 410px;
    margin-right: 60px;
}

.description.full {
    width: 100%;
    margin: 0;
}

.description:last-of-type {
    margin-right: 0;
}

.description span.title {
    display: block;
    color: #fff;
    line-height: 1.35em;
    font-size: 1.4em;
    padding: 10px 0;
    width: 100%;
    border-top: 1px solid #CFC6B4;
    border-bottom: 1px solid #CFC6B4;
}

.description a:last-of-type {
    margin-bottom: 20px;
}

.description a:first-of-type {
    margin-top: 10px;
}

.description a:hover {
    text-decoration: underline;
}

.description p {
    padding: 15px 0;
    font-size: 1.2em;
    color: #fff;
    line-height: 1.2em;
    word-spacing: 0.07em;
}

a.read {
    display: block;
    color: #A8D2F8;
    font-size: 1.2em;
    padding: 10px 0;
}

a.read:hover {
    text-decoration: underline;
}

/*	Footer
	============================================= */
.footer_wrap {
    display: table-footer-group;
    height: 1px;
    background-color: rgba(19, 20, 20, 0.95);
}

.footer {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
}

.footer_link {
    display: inline-block;
    vertical-align: top;
    float: left;
    font-size: 13px;
}

.footer_link.top_about_wrap {
    float: right;

}

.footer_link a {
    color: #818181;
    font-size: 13px;
}

.footer_link a:focus {
    color: #818181;
}

.footer_link a:link {
    color: #818181;
}

.footer_link a:visited {
    color: #818181;
}

.footer_link a:hover {
    color: #fff;
}

.footer_link a:active {
    color: #818181;
}

.footer_link.about {
    text-align: right;
}

.footer_link.top {
    text-align: center;
}

/*	Beige Alert
	============================================= */
.beigealert_wrap {
    width: 100%;
    margin: 0 auto;
    background-color: #D80051;
}

.beigealert {
    margin: 0 auto;
    color: #fff;
    font-size: 1.0em;
    line-height: 1.25em;
    text-align: center;
    padding: 10px 0;
}

a.beige {
    font-weight: bold;
    color: #FFFF00;
}

a.beige:hover {
    color: #fff;
}

.menu-wrap {
    overflow: hidden;
}

nav{
    background: #0067B1;
    padding: 15px 32px;
}

.img-wrap {
    float: left;
}

.logo-img {
    height: 61px;
}

.menu-link-wrap {
    float: right;
    margin-top: 25px;
}

.menu {
    display: inline-block;
    float: left;
    margin-right: 15px;
}

.menu:last-child {
    margin-right: 0;
}

.menu a {
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
}

.menu a:hover{
    color: rgba(255,255,255,0.7);
}

.text-info{
    /*width: 770px;*/
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.text-info h2 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 12px;
    line-height: 38px;
    padding: 0 100px;
}

.text-info a{
    background: rgba(255, 255, 255, 0.2);
    padding: 15px 40px;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;
}

.text-info a:hover{
    background: rgba(255, 255, 255, 0.4);
}

.text-info span{
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.7);
    display: block;
}

.chart-wrap {
    /*position: relative;*/
    z-index: 2;
    overflow: hidden;
    width: 960px;
    /*margin: -400px auto 0;*/
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

#total_projects_shown,
#total_sectors,
#un_agencies_in_iati {
    font-size: 60px;
    line-height: 86px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#display-active-projects,
#totalExpense,
#totalBudget {
    display: block;
    margin-top: 35px;
    font-size: 40px;
}

#total_projects_shown ~ div,
#un_agencies_in_iati ~ div {
    display: inline-block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    vertical-align: middle;
}

#no_of_countries {
    margin: 10px 0;
    font-size: 20px;
}

/* #totalBudget {
    font-size: 40px;
}

#totalExpense {
    font-size: 40px;
} */

#no_of_countries {
    display: inline-block;
    float: left;
    margin-right: 15px;
}

.chart-item {
    background: #0067B1;
    width: 230px;
    min-height: 195px;
    border-radius: 4px;
    color: #fff;
    padding: 40px 35px 25px;
    display: inline-block;
    margin: 5px 10px 10px;
    float: left;
    position: relative;
}

/*.chart-item:nth-of-type(5) {*/
    /*width: 550px;*/
/*}*/

.chart-item:nth-of-type(2) span.title {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}

.chart-item:nth-of-type(2) span.title:nth-of-type(2) {
    font-size: 16px;
    margin-top: 55px;
    display: inline-block;
    margin-bottom: 22px;
}

.chart-item:nth-of-type(3) span.title:nth-of-type(3) {
    font-size: 16px;
    margin-top: 55px;
    display: inline-block;
    margin-bottom: 22px;
}

.chart-item:nth-of-type(4) span.title {
    display: block;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 22px;
}

.chart-item:nth-of-type(5) span.title {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

/*.chart-item:nth-of-type(6) span.title {*/
    /*font-size: 16px;*/
    /*color: rgba(255, 255, 255, 0.7);*/
/*}*/

.chart-item span.title {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.flexslider .slides span.publisher-logo img {
    display: inline-block;
    max-height: 100px;
    max-width: 200px;
    width: 200px;
    width: auto;
}

#pie1 {
    display: inline-block;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    /*right: 15px;*/
}

#pie1 span:first-child {
    background: url("/art/budget_up.png") no-repeat;
    text-indent: 101%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    height: 30px;
    width: 10px;
    top: -30px;
    left: 30px;
}

#pie1 span:nth-of-type(2) {
    background: url("/art/expenses_down.png") no-repeat;
    text-indent: 101%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    text-indent: 101%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    height: 30px;
    width: 100px;
    bottom: 0;
    left: -100px;
}

#linegraph {
    margin-top: 35px;
}

span.publisher-logo {
    display: inline-block;
}

span.publisher-name {
    width: 100%;
    text-align: left;
    display: block;
    color: #0067B1;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: -20px;
}

.agencies_wrap {
    background: #F4F4F4;
    padding: 55px 0 75px;
}

.agencies {
    max-width: 960px;
    width: 960px;
    margin: 0 auto;
}

.agencies_wrap h2 {
    font-size: 29px;
    color: #666;
    border-bottom: 10px solid #666;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

a.link-to-members {
    float: right;
    margin-top: 10px;
}

.agencies .flexslider {
    background: none;
    border: none;
}

.flex-control-paging li a {
    width: 8px;
    height: 8px;
    background: rgba(0, 103, 177, 0.2);
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 103, 177, 0.2);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.flex-control-paging li a.flex-active {
    background: #0067B1;
    cursor: default;
}

.flex-direction-nav a:before,
.flex-direction-nav a.flex-next:before {
    display: none;
}

.flex-direction-nav .flex-prev {
    display: block;
    width: 14px;
    height: 20px;
    top: auto;
    bottom: 110px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    background: url("/art/ic_prev.png") no-repeat center;
}

.flex-direction-nav .flex-next {
    display: block;
    width: 14px;
    height: 20px;
    text-indent: 101%;
    top: auto;
    bottom: 110px;
    overflow: hidden;
    white-space: nowrap;
    background: url("/art/ic_next.png") no-repeat center;
}

.compare_detail_wrap {
    background: #EEF3F6;
    position: relative;
    padding: 60px 0 50px;
}

.compare {
    display: block;
    float: left;
    margin-right: 20px;
    width: 305px;
}

.compare a {
    background: #00406E;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 25px 16px;
    display: block;
}

.compare a:hover {
    background: #086DB5;
}

.compare:last-child {
    margin-right: 0px;
}

.compare_list {
    max-width: 960px;
    width: 960px;
    margin: auto;
    /* overflow: hidden; */
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*top: -35px;*/
}

.sustainable_wrap {
    max-width: 960px;
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 70px 0 50px;
    clear: both;
}

.sustainable_wrap img {
    width: 100%;
}

.sustainable_wrap > img {
    width: 860px;
    display: inline-block;
    margin-bottom: 20px;
}

.sustainable_wrap h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.chosen-container-single .chosen-single {
    background: #fff;
    border: 2px solid #96C4E3;
    box-shadow: none;
    font-size: 16px;
    color: #666666;
    padding: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

.chosen-container-single .chosen-single:hover {
    background: #E8E8E8;
}

.chosen-container-single .chosen-single div b {
    background: url(chosen-sprite.png) no-repeat 0 20px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -16px 20px;
}

.chosen-container-single .chosen-single span {
    color: rgba(102, 102, 102, 0.7);
}

.data_description_wrap {
    max-width: 860px;
    width: 860px;
    margin: 50px auto 0;
    background: #0067B1;
    padding: 50px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.7);
}

.data_description_wrap h2 {
    font-size: 22px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px 0;
}

.data_description_wrap p {
    font-size: 19px;
    line-height: 26px;
    margin: 30px 0;
}

/*for progress bar in the summary stats*/
#progressBox, #progressBox2, #sectorProgressBox {
    height: 30px;
    width: 130px;
    background: #3385C0;
    border-radius: 5px;
    overflow: visible;
}

#progressBox2, #sectorProgressBox {
    width: 240px;
    position: relative;
}

#progressBar, #progressBar2, #sectorProgressBar {
    height: 30px;
    background: #fff;
    border-radius: 5px 0 0 5px;
    overflow: visible;
    position: relative;
}

#progressBar > span,
#progressBar2 > #display-un-agencies,
#sectorProgressBar > #display-un-sectors
{
    position: absolute;
    right: -8px;
    display: block;
    bottom: -18px;
    z-index: 999;
}
#progressBox2 > #total-un-agencies,
#sectorProgressBox > #total-sectors
{
    position: absolute;
    right: 0;
    display: block;
    bottom: -18px;
    z-index: 999;
}
/*css for trends line chart*/
#trendLineChart {
    background: #0067B1;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
    stroke-width: 0;
}

.axis text {
    font-family: arial;
    font-size: 13px;
    fill: #fff;
    opacity: 0.5;
}

.grid line {
    opacity: 0.5;
}

.line {
    stroke: #993300;
    fill: none;
    stroke-width: 0.75px;
}

.line.line5 {
    stroke: red;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}

.grid path {
    stroke-width: 0;
}

.link-to-members {
    font-size: 12px;
}

/*	Spinner / loading animation
	============================================= */
.spinner {
    height: 20px;
    width: 20px;
    margin: 90px auto 0 auto;
    -webkit-animation: spin .6s infinite linear;
    -moz-animation: spin .6s infinite linear;
    -o-animation: spin .6s infinite linear;
    animation: spin .6s infinite linear;
    border-left: 6px solid rgba(0, 143, 255, .15);
    border-right: 6px solid rgba(0, 143, 255, .15);
    border-bottom: 6px solid rgba(0, 143, 255, .15);
    border-top: 6px solid rgba(0, 143, 255, .8);
    border-radius: 100%;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes spin {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/*==================== Styling for tooltips in homePage ======================*/
#mainTooltip {
    position: absolute;
    min-width :90px;
    text-align: center;
    height: auto;
    padding: 10px;
    background-color: rgba(0,0,0,0.6);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    fill: #FF5722;
    color: #FFF;
    font-weight: bold;
    z-index: 9999;
}

#mainTooltip:before {
    border: solid;
    border-color: rgba(0,0,0,0.6) transparent;
    border-width: 10px 10px 0 10px;
    top: 100%;
    content: "";
    left: 43%;
    position: absolute;
    z-index: 99;
}

#mainTooltip.hidden {
    display: none;
}

#mainTooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
}

/*@media screen*/
/*and (min-width: 1400px) {*/
    /*.tag {*/
        /*height: 600px;*/
    /*}*/
    /*.text-info {*/
        /*width: 960px;*/
        /*padding-top: 120px;*/
    /*}*/
    /*.text-info h2 {*/
        /*font-size: 64px;*/
        /*line-height: 70px;*/
        /*padding: 0;*/
    /*}*/
    /*.text-info span {*/
        /*font-size: 20px;*/
        /*line-height: 26px;*/
    /*}*/
    /*.chart-wrap {*/
        /*margin: -100px auto 0;*/
    /*}*/
    /*.menu-wrap {*/
        /*overflow: hidden;*/
        /*max-width: 960px;*/
        /*width: 960px;*/
        /*margin: 0 auto;*/
    /*}*/
/*}*/

.slideshow-wrap{
    position: relative;
}

.tag {
    position: absolute;
    z-index: 2;
    width: 100%;
}

.select-year{
    margin: 0 0 10px 10px;
}

.select-year span:first-child{
  color: #fff;
    font-size: 14px;
}

.select-year select{
    color: #fff;
    background-color: #00406e;
    border: none;
    height: 28px;
}


#slideshow {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    background: rgba(51,51,51,0.4);
}

#slideshow:before{
    content:'';
    position: absolute;
    background: rgba(51,51,51,0.4);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 1;
}

#slideshow > div {
    display: none;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}

#slideshow > div:first-child{
    display: block;
}

#slideshow img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*@media screen and (min-width: 1400px){*/
    /*#slideshow {*/
        /*height: 600px;*/
    /*}*/
/*}*/

/*design for modal*/
.modal, .modalSuccess {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    font-family: arial;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal-content, .modal-content-success {
    position: relative;
    background-color: #fefefe;
    max-width: 330px;
    width: 330px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.modal-header{
    text-align: left;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding: 20px 35px;
    border-bottom: 2px solid #0067B1;
    background: #0067B1;
    color: #fff;
}
.form-control{
    box-sizing: border-box;
    width: 100%;
    margin: 10px auto;
    padding: 20px 0 20px 10px;
    color: #555;
    font-size: 14px;
    border: 1px solid #bbb;
}

.form-control input:focus,.form-control keygen:focus, .form-control select:focus {
    outline-offset: 0;
}

.form-control:-webkit-autofill, .form-control select:-webkit-autofill {
    background: none;
    color: rgb(0, 0, 0);
}
.form-button{
    width: 100%;
    display: block;
    border: none;
    background: #0067B1;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    margin: 16px 0 0 0;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
.form-button:hover{
    background: #00406E;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
#emptyAlert{
    font-size: 14px;
    color: #BB0303;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}
.successMessage{
    width: 197px;
    margin: 0 auto;
    text-align: center;
    padding: 51px 0;
    font-weight: bold;
    color: green;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 23px;
    margin-right: 15px;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    margin-top: 23px;
}
.modal-body {
    padding: 30px 35px;
}
#githubIssue{
    font-size: 14px;
    text-align: center;
    padding-top: 38px;
    color: #344;
}
#githubIssue>a{
    color: #0067B1;
    font-size: 14px;
    text-transform: lowercase;
}
#githubIssue>a:hover{
    color: #00406E;
}


 #totalBudget:after{
     content: "*";

 }

/* Tooltip container */
.tooltip {
    position: relative;
    cursor:pointer;
    /*border-bottom: 1px pdotted black; !* If you want dots under the hoverable text *!*/
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #fff;
    color: rgba(74,74,74,0.7);
    /* text-align: center; */
    padding: 10px 12px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    line-height: 19px;
    font-size: 14px;
    box-shadow: 0 2px 5px 0px rgba(0,0,0,0.6);
}

.tooltip .tooltiptext {
    width: 100%;
    top: 100%;
    left: 0;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext, .tooltip:focus .tooltiptext {
    visibility: visible;
}

